<div class="filter mat-elevation-z8">
    <mat-card>
        <mat-card-title>Search Locations</mat-card-title>
        <mat-card-content>
            <form fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutStep="10px" fxLayoutGap="10px"
                [formGroup]="filterForm" (ngSubmit)="filter()">
                <mat-form-field fxFlex="15%">
                    <mat-label>Resource Id</mat-label>
                    <input formControlName="id" matInput type="number" placeholder="Resource Id">
                    <mat-error>the resource id must be a number</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="35%">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                    <mat-label>Select function</mat-label>
                    <mat-select formControlName="function">
                        <mat-option>None</mat-option>
                        <mat-option value="AIRPORT">
                            AIRPORT
                        </mat-option>
                        <mat-option value="RAIL_TERMINAL">
                            RAIL_TERMINAL
                        </mat-option>
                        <mat-option value="SEAPORT">
                            SEAPORT
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="10%">
                    <button type="submit" mat-raised-button color="primary">Search</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>