<div *ngIf="isLoading$ | async" class="spinner">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
<table mat-table class="mat-elevation-z8" matSort matSortDisableClear (matSortChange)="sort($event)"
    [dataSource]="dataSource">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
        <td mat-cell *matCellDef="let location">{{location.resourceId}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let location">{{location.name}}</td>
    </ng-container>

    <ng-container matColumnDef="function">
        <th mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>Function</th>
        <td mat-cell *matCellDef="let location">{{location.function}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th class="action-button" mat-header-cell *matHeaderCellDef>
            <button id="newLocation" mat-stroked-button color="primary" (click)="newLocation()">
                New Location
            </button> </th>
        <td class="action-button" mat-cell *matCellDef="let location">
            <button mat-stroked-button (click)="updateLocation(location)">
                Edit
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator class="mat-elevation-z8" (page)="changePage($event)" [length]="locationList.length"
    [pageSize]="locationList.pageSize" [pageIndex]="locationList.pageIndex" [pageSizeOptions]="[10, 20, 30, 50, 100]">
</mat-paginator>