<div class="mat-app-background basic-container">
    <app-location-filter (Filtering)="onFiltering($event)"></app-location-filter>
    <app-location-list (Paging)="onPaging($event)" (Sorting)="onSorting($event)"></app-location-list>
</div>
