<h2 class="alert-title" mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    {{message}}
</mat-dialog-content>

<mat-dialog-actions align='center'>
    <button mat-button color="warn" class="mat-raised-button" (click)="close()">Ok</button>
</mat-dialog-actions>