<h2 id="dialogTitle" mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <div [formGroup]="locationForm" fxLayout="column">
        <mat-form-field floatLabel="always">
            <mat-label>Name</mat-label>
            <input id="name" matInput #name type="text" placeholder="" formControlName="name" minlength="1" maxlength="60"
                required />
            <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
            <mat-error>
                Please enter valid Name
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Name Normalized</mat-label>
            <input id="normalizedName" matInput #normalizedName type="text" placeholder="" formControlName="normalizedName" minlength="1"
                maxlength="60" required />
            <mat-hint align="end">{{normalizedName.value?.length || 0}}/60</mat-hint>
            <mat-error>
                Please enter valid Name (only number and lower case)
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select function</mat-label>
            <mat-select id="function" #function formControlName="function" required>
                <mat-option value="AIRPORT">AIRPORT</mat-option>
                <mat-option value="RAIL_TERMINAL">RAIL TERMINAL</mat-option>
                <mat-option value="SEAPORT">SEAPORT</mat-option>
            </mat-select>
            <mat-error>
                Select one function
            </mat-error>
        </mat-form-field>
    </div>
    <div [formGroup]="coordinatesForm" fxLayout="row" fxLayout fxLayoutAlign="left" fxLayoutStep="10px"
        fxLayoutGap="10px">
        <mat-form-field fxFlex="50%">
            <mat-label>Latitude</mat-label>
            <input id="latitudeInDegrees" matInput #latitudeInDegrees type="number" placeholder="" formControlName="latitudeInDegrees"
                min="-90" max="90" maxlength="10" required />
            <mat-hint align="end">Latitude from -90 degrees to 90 degrees</mat-hint>
            <mat-error>
                Please enter valid latitude
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50%">
            <mat-label>Longitude</mat-label>
            <input id="longitudeInDegrees" matInput #longitudeInDegrees type="number" placeholder="" formControlName="longitudeInDegrees"
                min="-180" max="180" maxlength="10" required />
            <mat-hint align="end">Longitude from -180 degrees to 180 degrees</mat-hint>
            <mat-error>
                Please enter valid longitude
            </mat-error>
        </mat-form-field>
    </div>
    <div [formGroup]="addressForm">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutStep="10px"
            fxLayoutGap="10px">
            <mat-form-field fxFlex="80%">
                <mat-label>Street name </mat-label>
                <input id="streetName" matInput #streetName type="text" placeholder="" formControlName="streetName" minlength="1"
                    maxlength="60" />
                <mat-hint align="end">{{streetName.value?.length || 0}}/60</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
                <mat-label>Number</mat-label>
                <input id="streetNumber" matInput #streetNumber type="text" placeholder="" formControlName="streetNumber" minlength="1"
                    maxlength="10" />
                <mat-hint align="end">{{streetNumber.value?.length || 0}}/10</mat-hint>
            </mat-form-field>
        </div>
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutStep="10px"
            fxLayoutGap="10px">
            <mat-form-field fxFlex="15%">
                <mat-label>Postal Code</mat-label>
                <input id="postalCode" matInput #postalCode type="text" placeholder="" formControlName="postalCode" minlength="0"
                    maxlength="18" />
                <mat-hint align="end">{{postalCode.value?.length || 0}}/18</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="75%">
                <mat-label required>City</mat-label>
                <input id="city" matInput #city type="text" placeholder="" formControlName="city" minlength="1" maxlength="60"
                    required />
                <mat-hint align="end">{{city.value?.length || 0}}/60</mat-hint>
                <mat-error>
                    City name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="10%">
                <mat-label>Country</mat-label>
                <input id="country" matInput #country type="text" placeholder="" formControlName="country" minlength="1"
                    maxlength="2" required />
                <mat-hint>2 Char country code</mat-hint>
                <mat-error>
                    Country is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutStep="10px"
            fxLayoutGap="10px">
            <mat-form-field fxFlex="30%">
                <mat-label>administrativeLevel 1</mat-label>
                <input id="administrativeLevel1" matInput #administrativeLevel1 type="text" placeholder="" formControlName="administrativeLevel1"
                    minlength="0" maxlength="60" />
                <mat-hint align="end">{{administrativeLevel1.value?.length || 0}}/60</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
                <mat-label>administrativeLevel 2</mat-label>
                <input id="administrativeLevel2" matInput #administrativeLevel2 type="text" placeholder="" formControlName="administrativeLevel2"
                    minlength="0" maxlength="60" />
                <mat-hint align="end">{{administrativeLevel2.value?.length || 0}}/60</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="40%">
                <mat-label>Select continent</mat-label>
                <mat-select id="continent" #continent formControlName="continent" required>
                    <mat-option value="AFRICA">AFRICA</mat-option>
                    <mat-option value="ANTARCTICA">ANTARCTICA</mat-option>
                    <mat-option value="ASIA">ASIA</mat-option>
                    <mat-option value="EUROPE">EUROPE</mat-option>
                    <mat-option value="NORTH_AMERICA">NORTH AMERICA</mat-option>
                    <mat-option value="OCEANIA">OCEANIA</mat-option>
                    <mat-option value="SOUTH_AMERICA">SOUTH AMERICA</mat-option>
                </mat-select>
                <mat-error>
                    Select one continent
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>


<mat-dialog-actions align='end'>
    <button id="cancel" mat-raised-button (click)="close()">Close</button>
    <button id="save" mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>